{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Region",
    id: 'region',
    name: 'region',
    options: adapter.regionOptions,
    value: adapter.region,
    errors: adapter.getErrors('region'),
    required: true,
    first: true,
}) }}

{{ forms.textField({
    label: "API Key",
    id: 'apiKey',
    name: 'apiKey',
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey'),
}) }}

{{ forms.passwordField({
    label: "API Secret",
    id: 'apiSecret',
    name: 'apiSecret',
    value: adapter.apiSecret,
    errors: adapter.getErrors('apiSecret'),
}) }}